* {box-sizing: border-box;}

#logo{
    width: 100px;
}

li{
    display: inline;
}
ul{
    margin: 0;
    padding: 0;
}

div{
    border: 1px solid blue;
}

nav{
    border: 1px solid red;
    width: 50%;
}

header{
    height: 100px;
}

